<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);color: white;">
    <div class="container-fluid">
        <div class="h3"> Channel Stock Management</div>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container-fluid ">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" #rla routerLinkActive="active" href="javascript:void(0)"
                    [routerLink]="['/network_setting']">Network Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" #rla routerLinkActive="active" href="javascript:void(0)"
                    [routerLink]="['/stock_management']">Stock Managment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" #rla routerLinkActive="active" href="javascript:void(0)"
                    [routerLink]="['/order_list']">Order List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" #rla routerLinkActive="active" href="javascript:void(0)"
                    [routerLink]="['/log_status']">Log Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
