<div class="container-fluid my-4">
    <div class="row my-2">
        <div class="col-sm-3">
            <div class="form-group p-3 shadow rounded">
                <label for="findUser">Search Channel</label>
                <div class="input-group">
                    <input type="text" (input)="searchOta($event)" class="form-control" placeholder="Channel Name">
                    <br>
                    <ng-container *ngIf="filteredOtaResult.length>0">
                        <div class="data-display">
                            <ul>
                                <li *ngFor="let channel of filteredOtaResult" (click)="selectOta(channel)"> {{channel|titlecase}}</li>
                            </ul>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="filteredOtaResult.length==0 && showDropdown">
                        <div class="data-display">
                            <ul>
                                <li class="no-data"> No Data Found</li>
                            </ul>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 p-3">
            <table class="table table-bordered table-hover shadow">
                <thead>
                    <tr class="table-headers">
                        <th>OTA Name</th>
                        <th>SKU ID</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                        <th>Order Id</th>
                        <th>Currency</th>
                        <!-- <th>Product Detail</th> -->
                        <th>Order Status </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="loader">
                        <td [attr.colspan]="8" class="text-center"><div class="spinner-grow text-secondary fs-1" style="width: 3rem; height: 3rem;"></div></td>
                    </tr>
                    <tr *ngFor="let item of filteredData">
                        <!-- <td>{{item.channel_name}}</td> -->
                        <td>{{item.channel_name}}</td>
                        <td>{{item.sku_id}}</td>
                        <td>{{item.sku}}</td>
                        <td>{{item.items_count}}</td>
                        <td>{{item.order_id}}</td>
                        <td>{{item.currency}}</td>
                        <!-- <td> <a [href]="item.product_detail_url" target="_blank">View Detail</a></td> -->
                        <td>{{item.order_status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>